# Aliases

# Shortcuts
alias hs='history | grep'
alias c='clear'
alias cellar='/usr/local/Cellar/'


# Git aliases

# Quick add, commit and push on origin branch with Git
function fastcommitpush {
    git add .
    git commit -m "Quick update"
    git push origin master
}