[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = gurveerdhindsa
	name = Gurveer Dhindsa
	email = gurveerdhindsa@hotmail.com
	email = gurveerdhindsa@hotmail.com
[commit]
	template = ~/.gitmessage
[alias]
  log = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  undo-commit = reset --soft HEAD~1